---
title: Editor
category: platform
last_reviewed_on: 2021-06-01
review_in: 3 months
---

<% if current_page.url != "/" %># <%= current_page.data.title %><% end %>

A Ruby on Rails app with a custom javascript frontend, that allows you to make changes to the forms you’ve created (update form metadata schemas). The Editor is available online and using SSO to access for MoJ staff. As well as building and changing your forms the Editor will deploy your forms in the cloud in either a test or production environment.

![alt text](editor-in-the-platform.png "diagram of the platform focussing on the Editor.")

## Repos
* [fb-editor](https://github.com/ministryofjustice/fb-editor)
* [fb-metadata-presenter](https://github.com/ministryofjustice/fb-metadata-presenter)
* [fb-metadata-api](https://github.com/ministryofjustice/fb-metadata-api)

## Documentation
<ul>
    <% sitemap.resources.select { |page| page.path =~ /html$/ }.each do |page| %>
        <% if page.data.category == "platform-editor" %>
            <li><a href="<%= page.url %>"><%= page.data.title %></a></li>
        <% end %>
    <% end %>
</ul>
